<h1>Listing fasta_data</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>File Name</th>
      <th>Data</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fasta_data.each do |fasta_datum| %>
      <tr>
        <td><%= fasta_datum.id %></td>
        <td><%= fasta_datum.filename %></td>
        <td><%= br fasta_datum.data %></td>
        <td><%= fasta_datum.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to 'Show', fasta_datum %></td>
        <td><%= link_to 'Destroy', fasta_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= form_tag fasta_data_upload_path, :method => :post, :multipart => true do %>
  <%= file_field_tag 'uploads[]', :multiple => true %>
  <%= submit_tag 'Add Files' %>
<% end %>
</div>

<div>
<%= link_to 'Merge Fasta', fasta_data_merge_path %>
</div>
